.cards-mainDiv{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.cards-explaination{
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    z-index: 99;
}

.text-card-fix{
    width: inherit;
    height: 100vh;
    position: fixed;
    background-color: #ededed;
    right: 0;
}

.cards-text{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    color: #333333;
}

.cards-text>p{
    padding-left: 40px;
    padding-right: 40px;

}

.cards-title{
    color: #ff6a2f;
}

.cards-foto{
    padding-top: 100px;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-foto{
    width: 60%;
    margin-bottom: 20px;
}

.text-big-hide{
    display: none;
    margin-bottom: 40px;
    width: 75%;
}


@media only screen and (max-width: 1025px){
    .cards-mainDiv{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    .cards-explaination{
        width: 100%;
        display: none;
    }

    .cards-text{
        position: unset;
        margin-bottom: 50px;
        color: #333333;
    }

    .cards-foto{
        width: 100%;
    }

    .text-card-fix{
        height: unset;
        position: unset;
        background-color: unset;
    }

    .text-big-hide{
        display: block;
    }

    .card-foto{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 813px){
    .card-foto{
        width: 80%;
    }
}