.corporate-asuji-mainDiv{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.corporate-asuji-explaination{
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    z-index: 99;
}

.text-asuji-pos-fix{
    height: 100vh;
    position: fixed;
    background-color: #ededed;
}

.corporate-asuji-text{
    padding-top: 100px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #333333;

}

.corporate-asuji-text>p{
    padding-left: 40px;
    padding-right: 40px;

}

.asuji-title{
    color: #C86EAB;
}

.corporate-asuji-foto{
    padding-top: 100px;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.asuji-foto{
    width: 60%;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1025px){
    .corporate-asuji-mainDiv{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

    .corporate-asuji-explaination{
        width: 100%;
    }

    .corporate-asuji-text{
        position: unset;
        margin-bottom: 50px;
        color: #333333;
    }

    .corporate-asuji-foto{
        width: 100%;
    }

    .text-asuji-pos-fix{
        height: unset;
        position: unset;
        background-color: unset;
    }
}

@media only screen and (max-width: 813px){
    .sydeco-asuji-foto{
        width: 80%;
    }
}